.current-task{
  h3{
    text-transform: uppercase;
    color: $button-main;
  }
  .colored-gray{
    color: #abaaaa;
  }
}

.map-show-task{
  height: 200px;
  width: 100%;
}

.place_guide{
	padding: 0;
	list-style: none;

	&__info{

		margin-top: 15px;
		h5{
			font-size: 18px;
			margin-bottom: 0;
		}
		p{
			font-size: 14px;
		}
		.fa{
			background-color: $button-main;
			float: left;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			padding: 3px;
			font-size: 12px;
			color: #fff;
			text-align: center;
			margin-top: 2px;
			& + div{
				min-height: 18px;
				margin-left: 26px;
			}
		}
	}
}